@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

html[data-bs-theme='dark'] {
  nav {
    background-color: $dark !important;

    ul {
      li {
        .nav-link {
          &::before {
            border-color: #fff;
          }
        }
      }
    }

    .control-center {
      button {
        color: $white;
        border: 1px solid $primary !important;

        &:hover {
          background-color: $primary;
          z-index: 0;
        }
      }
    }

    .cart-items {
      background-color: $dark !important;
    }
  }

  .search-div {
    input {
      color: $light !important;
    }

    .search-btn {
      background-color: $dark !important;

      &:hover {
        background-color: #fff !important;
      }

      &:hover i {
        color: $dark;
      }
    }
  }
}
