@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$input-btn-focus-color-opacity: 0;

.full-body {
  height: 100vh;
  overflow: hidden;

  .new-fashion {
    position: relative;
    overflow: hidden;

    .girl-png {
      position: absolute;
      width: 600px;
      left: 50%;
      transform: translateX(-50%);
    }

    .div-one {
      justify-content: end;
      height: 95vh;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }

    .div-two {
      justify-content: start;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    > div {
      font-family: 'Protest Guerrilla', sans-serif;

      > div {
        display: flex;
        align-items: center;

        h1 {
          span {
            color: $dark;
            animation: textChange 7s ease infinite;

            &:nth-child(1) {
              animation-delay: 2s;
            }
            &:nth-child(2) {
              animation-delay: 5s;
            }
            &:nth-child(3) {
              animation-delay: 7s;
            }
            &:nth-child(4) {
              animation-delay: 9s;
            }
            &:nth-child(5) {
              animation-delay: 11s;
            }

            @keyframes textChange {
              from {
                color: $white;
              }

              to {
                color: $dark;
              }
            }
          }
        }

        .buy-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          button {
            cursor: pointer;
          }
        }

        h1 {
          font-size: 150px;
        }
      }
    }
  }
}

.trusted-brands {
  overflow: hidden;
  background-color: black;

  img {
    height: 130px;
    width: 130px;
    margin: 20px 40px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .brand-container {
    display: flex;
  }
}
