// import bootstrap variables and functions
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

nav {
  .z-text {
    font-family: 'Dancing Script', cursive;
  }

  .ulo-text {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: -5px;
  }

  .cart-btn {
    position: relative;
    z-index: -1;
  }

  .cart-items {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: $white;
    padding: 0px 2px;
  }
}
