RewriteEngine On

# Only apply the rule if the requested resource is not a directory
RewriteCond %{SCRIPT_FILENAME} !-d

# Rewrite URLs that don't have a file extension by appending .php
RewriteRule ^([^.]+)$ $1.php [NC,L]

Options -Indexes
#ErrorDocument 404 /pages/404.php


